/* 
    Team Liquid Dark Theme
	assets/images/external-stylesheet.css 
*/


body{ background-color: transparent !important; }

A:link {
    color: #FFFFFF;
    text-decoration: underline;
}

A:visited {
    color: #FFFFFF;
    text-decoration: underline;
	font-style: italic !important;
	
}

A:hover{
	color: #FFF;
	text-decoration: underline;
}

b, strong{
	font-size: 115%;
}


h1{
	color: lightblue;
}

div.wiki a { border: 0px !important; }
div.live_report a { border: 0px !important; }
div.stream a { border: 0px !important; }

div#wrap a {
  border-bottom: 1px dotted #666666;
  color: #D2D7D9;
  text-decoration: none !important;
  opacity: 0.9;
}

div#wrap a:hover {
	opacity: 1;
}

div#wrap hr{
	background: #444; 
	height: 1px; 
	border: 0px;
}

div#middlebar {
  border-left: 1px solid #333 !important;
  float: left;
  height: 1070px;
  margin-left: 32px;
  margin-right: 0;
  width: 5px;
}

div.live_report p span {
  color: #888888;
  font-weight: bold;
}

#submessage,.submessage{
	color: #D2D7D9;
	font-family:arial;
}

A.submessage {
	color: #D2D7D9 !important;
	font-family: arial, helvetica;
	font-size: 11px;
	font-weight: bold;
	opacity: 0.8;
	text-decoration: none !important; 
}

A.submessage:hover{
	color: #D2D7D9 !important;
	font-family: arial;
	opacity: 1.0;
	text-decoration: none !important; 
}


A.quickquote:link, A.quickquote:visited {
    color: #D2D7D9;
    opacity: 0.8;
	
	font-family: arial, helvetica !important; 
	font-size: 11px !important; 
	text-decoration: none !important; 
	font-weight: bold !important;
}

A.quickquote:visited {
	color: #D2D7D9 !important;
    opacity: 0.8;
	
	font-family: arial, helvetica !important; 
	font-size: 11px !important; 
	text-decoration: none !important;
	font-weight: bold !important;
}

A.quickquote:hover{
	opacity: 1.0;
	text-decoration: none !important; 
}

A.fromindex{
color: #FFF !important;
}

div[style="font-weight:bold; color:#008800; margin-bottom:2px"]{
	color: #33FF33 !important;
}

#timebar span{ color: #FFF; } 
#timebar span span{ color: #ccc !important; }

/* forum section */
a.forummsginfo[style="color: #6C0000; font-weight: bold; font-size: 10pt;"]{
	color: orange !important;
}

/* forum section categories */
a.forummsginfo[style="color: #6C0000; font-weight: bold; font-size: 8pt;"]{
	color: lightgreen !important;
}

div[style="width: 180px; height: 2px; border-top: 1px solid #00005d;"]{
	border-color: #000 !important;
}

/* type: header logo */
td[style*="/mirror/layout/TeamLiquidStarCraftNewsCommunityTeamBanner.jpg"], 
td[style*="/mirror/layout/TeamLiquidStarCraftNewsCommunityTeamBanner2012.jpg"]{
	background-color: #213454 !important; 
	height: 150px !important; 
	background: url(assets/images/TeamLiquidStarCraftNewsCommunityTeam.jpg) center no-repeat !important; 
}

/* type: menu */
td[style*="/mirror/layout/NavbarNormal.png"]{ 
	height:33px !important; 
	background: transparent url(assets/images/NavbarNormal.png) repeat-x !important; 
}

/* type: .greenbox? */
td[class*="greenbox"]{
	background-color: transparent !important; 
	border: 0px !important;
}

/* type: tournament page white box */
div[style*="background-color: white; border:2px solid black; padding: 5px"]{
	background-color: transparent !important; 
	border: 0px solid black !important; 
	padding: 5px !important;
}

div[style*="padding:5px;border:2px solid black;background-color:white"]{
	background-color: transparent !important;
	border: 0px solid black !important;
	padding: 5px !important;
}

/* type: blue username in thread */
span[style*="font-weight: bold; color: #00005D;"]{
	font-weight: bold !important;
	color: #5555FF !important;
}

/* type: red username in thread */
span[style*="font-weight: bold; color: #6C0000;"]{
	color: #FF3333 !important;
}

/* type: purple username in thread */
span[style*="color: #660066;"]{
	font-weight: bold !important;
	color: #CC0099 !important;
}

/* type: whitebox fix */
td[bgcolor*="#d9dde0"][style*="border: 1px solid #00005d;"]{
	background-color: transparent !important; 
	border: 1px solid #00005d !important;
	text-align: center !important;
}

/* type: quotepreview
   example: http://www.teamliquid.net/forum/postmessage.php */
div[style*="border: 1px black solid; padding: 5px; color: black"]{
	padding: 5px !important;
	color: #FFF !important;
}

/* type: color=black
   example: http://www.teamliquid.net/forum/viewmessage.php?topic_id=17883 */
div[style="color:black"]{
	color:#FFF !important;
}

/* type: brackets bad color
   example: http://www.teamliquid.net/tournaments/admin/?action=bracket&id=1802 */
	div[style*="font-size:8pt;height:15px;margin-bottom:2px;border:1px solid black; background:#B3BFD1;padding:1px"]{
		font-size:8pt !important;
		height:15px !important;
		margin-bottom:2px !important;
		border:1px solid black !important;
		background:#222 !important;
		padding:1px !important;
	}

	div[style*="font-size:8pt;height:15px;padding:1px;border:1px solid black; background:#B3BFD1"]{
		font-size:8pt !important;
		height:15px !important;
		padding:1px !important;
		border:1px solid black !important;
		background:#222 !important;
	}
	
	div[style*="font-size:8pt;height:15px;margin-bottom:2px;border:1px solid black; background:#D9DDE0;padding:1px"]{
		font-size:8pt !important;
		height:15px !important;
		margin-bottom:2px !important;
		border:1px solid black !important; 
		background:#333 !important;
		padding:1px !important;
	}
	
	div[style*="font-size:8pt;height:15px;padding:1px;border:1px solid black; background:#D9DDE0"]{
		font-size:8pt !important;
		height:15px !important;
		padding:1px !important;
		border:1px solid black !important;
		background:#333 !important;
	}
	
/* timezone bad td background */
td[bgcolor="#EEEEEE"]{
	background-color: #333 !important;
}
	
tr.post_signature td{ 
	border-top: 0px !important;
}

/* fix dark team logos background in 'signature' */
tr.post_signature .forumsig img[src*="/tlpdassets/images/teams/icons/"] { 
	background: #FFF !important; 
	-moz-box-shadow: 0 0 2px 2px #FFF !important; 
	-webkit-box-shadow: 0 0 2px 2px #FFF !important; 
	box-shadow: 0 0 2px 2px #FFF !important; 
	border: 1px solid lightblue;
	border-radius: 6px;
}
	

#vodpage h3 a, #vodpage h3 a:link, #vodpage h3 a:visited, #vodpage h3 a:hover, #vodpage h4 a, #vodpage h4 a:link, #vodpage h4 a:visited, #vodpage h4 a:hover { color: #CCC !important;}
#vod_main li, #vod_main li a { color: #ccc; text-decoration: none; opacity: 0.7;}
#vod_main li, #vod_main li a:hover { color: #ccc; text-decoration: none; opacity: 1.0; }

#news_main div.newsitem h2 a, #news_main div.newsitem h2 a:visited, #news_main div.newsitem h2 a:hover{
	color: #CCC !important;
	text-decoration: none !important;
}

body {
    background: #333 url("assets/images/background.jpg") no-repeat fixed center top !important;
    color: #D2D7D9 !important;
    font-family: arial,helvetica !important;
    font-size: 10pt !important;
    margin: 0 !important;
	
	display: inline !important;
}

body table{ visibility: visible !important; }

html body table tbody tr td table tbody tr td table tbody tr td table tbody tr td.grijs table tbody tr td center table tbody tr td.small_check{
    background-image: none !important;
}

/*
html body table tbody tr td table tbody tr td table tbody tr td table tbody tr td.grijs table tbody tr td table tbody tr td table{
	background-color: transparent !important; 
}*/

/* Adds bottom-border to Preview */
html body table tbody tr td table:nth-child(3) tbody tr td table tbody tr td:nth-child(1) table tbody tr:nth-child(1) td.grijs table tbody tr:nth-child(2) td p:nth-child(2){
    border-bottom: 1px dotted #CCC !important;
	padding-bottom: 5px;
}

#tl_navigation img {text-decoration: none !important;}

#nav_games {
    background-position: -1620px 0px !important;
}



/* dark_theme_message */
#dark_theme_message{
position: absolute; top: 44px; left: 50%; width: 762px; margin-left: -381px;
z-index: 1500;
background: url(assets/images/darktheme_message-bg.png) repeat-y;
}
#dark_theme_message:after{ content: url(assets/images/darktheme_message-bottom.png); }
#dark_theme_message hr{
height: 1px; width: 96%;
margin: 0px auto;
padding: 0px;
border: 0px; background: #333333; 
}
#dark_theme_message h1:before{ content: url(assets/images/darktheme_message-decoleft.png); margin-right: 5px; }
#dark_theme_message h1:after{ content: url(assets/images/darktheme_message-decoright.png); margin-left: 5px; }
#dark_theme_message h1{
margin: 10px 0px 5px 0px; padding: 0px; 
font: bold 14px Arial;
color: #FFCC33;
text-align: center;
}

#dark_theme_message p{
margin: 0 0 5px 0; padding: 0px 60px; 
color: #CCCCCC;
font: 16px Arial;

}
#dark_theme_message_close{
text-align: center;
font: bold 12px Arial;
color: #666666;
margin-bottom: 10px;
cursor: pointer;
}
/* dark_theme_message end */


/* Top Right Menu */
.dark_theme_menu {
    background: url("assets/images/NavbarNormal.png") repeat-x scroll 0 0 #325080;
    border: 1px solid #222222;
    border-radius: 6px 6px 0 0;
    font-size: 11px !important;
    font-weight: bold !important;
    height: 18px;
    margin: 22px auto 0;
    padding-top: 2px !important;
    text-align: center;
    z-index: 500;
	line-height: 18px;
	padding: 0px 30px;
	display: table;
}

.dark_theme_menu_title{color: #FFF !important;}
.dark_theme_menu_separator{color: #666 !important; }
.dark_theme_menu_disabled{color: #444 !important; text-decoration: line-through !important; }

.dark_theme_menu_options{color: #66FFFF !important; text-decoration: none !important; opacity: 0.9;}
.dark_theme_menu_thread{color: #33CCFF !important; text-decoration: none !important; opacity: 0.9;}
.dark_theme_menu_feedback{color: #6699FF !important; text-decoration: none !important; opacity: 0.9;}
.dark_theme_menu_lightmode{color: #FFFF99 !important; text-decoration: none !important; opacity: 0.9;}
.dark_theme_menu_readannouncement{color: ORANGE !important; text-decoration: none !important; opacity: 0.9;}

.dark_theme_menu_options:hover{opacity: 1;}
.dark_theme_menu_thread:hover{opacity: 1;}
.dark_theme_menu_feedback:hover{opacity: 1;}
.dark_theme_menu_lightmode:hover{opacity: 1;}
.dark_theme_menu_readannouncement:hover{opacity: 1;}

.lightmode_on,
.lightmode_on:hover,
.lightmode_off,
.lightmode_off:hover{
	background: url("assets/images/lamp.png") no-repeat;
}

.lightmode_on,
.lightmode_off{
	position: fixed;
	width: 90px; 
	height: 100px;
	right: 19px; top: 19px; 
}

.lightmode_on:hover,
.lightmode_off:hover{
	cursor:pointer; 
}

/* Lightbulb OFF (Lightmode = ON) */
.lightmode_on{ display: none; background-position: -3px -99px; } 
.lightmode_on:hover{ display: none; background-position: 0px 0px; }

/* Lightbulb ON (Lightmode = OFF) */
.lightmode_off:hover{  background-position: -3px -99px; }

/* #dark_theme_updatenotification start */
#dark_theme_updatenotification{
font: 12px Arial;

position: absolute;
width: 760px;
left: 50%;
margin-left: -380px;
top: 3px;
z-index: 9999;

height: 20px;
line-height: 20px;
text-align: center;

}

#dark_theme_updatenotification span{
font-weight: bold;
}

#dark_theme_updatenotification a{
opacity: 0.9;
font-weight: bold;
text-decoration: underline;
}

#dark_theme_updatenotification span:nth-child(1){ color: #FFCC99; }
#dark_theme_updatenotification a:nth-child(2){ color: #99CC99; }
#dark_theme_updatenotification a:nth-child(3){ color: #CCCC99; }

#dark_theme_updatenotification a:hover{
opacity: 1;
}

/* #dark_theme_updatenotification end */

#dimmer{
	background-color: black;
	height: 100%;
	left: 0;
	opacity: 0.75;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50 !important;
}

.right_sidebar a[href*="/video/streams/"]:not([title="Show all live streams"], #nav_streams){
	position: relative !important; 
	float: right !important; 
	height: auto;  
	width: 126px !important; 
	text-align: left !important; 
	border-bottom: 0px !important; 
}

	
/* DARK THEME OPTIONPANE */
#dark_theme_optionpane{
  background-color: #111;
  color: #999;
  border: 1px solid black;
  height: 585.75px;
  left: 50%;
  margin-left: -300px;
  overflow-y: scroll;
 
  padding: 12px;
  position: fixed;
  text-align: left;
  top: 12.5%;
  width: 600px;
  z-index: 120;
  
  font: 12px Arial;
}

	#dark_theme_optionpane a:link, #dark_theme_optionpane a:visited{
		color: #FFFF99 !important;
		text-decoration: none;
		opacity: 0.9;
	} 
	#dark_theme_optionpane a:hover{
		opacity: 1;
	}

	#dark_theme_optionpane input, textarea{
		margin-bottom: 4px;
		font: 12px Arial !important;
		padding: 2px !important;
		width: 100%;
	}

	#dark_theme_optionpane input[type="checkbox"]{
		width: auto;
	}

	#dark_theme_optionpane input[type="submit"]{
		clear: both;
		width: auto;
	}

	#dark_theme_optionpane label{
		position: static !important;
		width: auto !important;
	}
	
	#dark_theme_optionpane ul{
		padding: 0px;
		list-style-type: none;
		width: 95%;
	}

		#dark_theme_optionpane ul li{
			padding: 6px 0px 6px 22px;
			background: url('assets/images/idea_icon.png') no-repeat 4px 4px;
			border: 1px solid transparent;
			padding-right: 10px;
		}
		
		#dark_theme_optionpane ul li:nth-child(even){ background-color: rgba(0,0,0,0.1); }
		#dark_theme_optionpane ul li:nth-child(odd){ background-color: rgba(0,0,0,0.5); }
		
		#dark_theme_optionpane ul li:hover{
			background-color: rgba(0,0,0,0.9);
			cursor: pointer;
			
			border: 1px solid #444;
			border-radius: 4px;
		}
		
		#dark_theme_optionpane ul li .ideaMenu{ clear: both;  }
		#dark_theme_optionpane ul li .ideaMenu a:link{
			font: 9px Tahoma !important;
			color: #555 !important;
		}
		
		#dark_theme_optionpane ul li.toggled{
			background-color: rgba(0,0,0,0.9);
		}
		
	.dark_theme_subtitle{
		color: #6699FF;
		margin-bottom: 8px;
	}

	.dark_theme_title{
		color: #33CCFF;
	}

	hr.dark_theme_separator{
		height: 1px; border: 0px; background: #222;
	}
	.dark_theme_vseparator{ float:left; width: 1px; background: #222; margin-left: -10px; }

	.clear{
		clear: both;
	}
	
	.extraSettings{
		display: none; 
		background: #000; 
		border: 1px dashed #444; 
		margin: 5px; 
		padding: 5px; 
		line-height: 25px;
	}
	
/* POLL BACKGROUND */
img[src*="draw.php?poll_id="]{
	background-color: #FFF !important;
}

div[style*="width: 180px; height: 10px; border-top: 1px solid #00005d;"]{
border-top: 1px solid #000 !important;
}

div[style*="border-top: 1px solid #00005d; width:180px; height: 2px"]{
border-top: 1px solid #000 !important;
}

/** editing nasty elements without classes **/

font[style*="color: red"]{
	color: #FF3333 !important;
}	

font[style*="color: green"]{
	color: #33FF33 !important;
}	

font[style*="color: blue"]{
	color: #4FDFFF !important;
}	

td[align="right"] a[href*="/forum/viewmessage.php?topic_id="]{ 
	text-decoration: none; 
	color: #999999; 
	font-size: 12px;
}

td[align="right"][width="380"]{
	width: 400px;
	padding-right: 3px;
}
td[width="210"][valign="bottom"][style="white-space: nowrap;"]{
	padding-left: 3px;
}

/*
td.middle_content table tbody tr td table tbody tr:first-child td.grijs table:first-child tbody tr td table{
	background: transparent !important;
    padding: 0px;
    margin: 0px;
}*/

td.lichtb {
	border-top: 1px solid #000000 !important;
	background: transparent !important;
}

a.forumindex{
	text-decoration: none;
	color: #FFF !important;
	font-size: 12px !important;
}

pre[style*="width: 570px; overflow-x:auto; font: 9pt monospace; margin: 0 5px; padding: 4px 6px; border: 1px solid black; background-color: #EBEFF2;"]{
width: 570px !important;
overflow-x: auto !important;
font: 9pt monospace !important;
margin: 0 5px !important;
padding: 4px 6px !important;
border: 1px solid black !important;
background-color: #111111 !important;

}
td[style*="background:#fff;padding:20px;padding-top:40px;padding-bottom:40px;text-align:center;font-size:16px"]{
	background: #111 !important;
}

div[style*="margin-top: 10px; padding: 5px; border: 1px solid #333;background-color:#fff"] {
background-color:#222 !important;
color:#888 !important;
}


ul[style*="display: none; visibility: hidden;"] {
	display: inline !important; visibility: visible !important;
}

ul[style*="display: none; visibility: hidden"] {
	display: inline !important; visibility: visible !important;
}

/* FIX COLLAPSE EXPAND ARROWS */

img[src*="/mirror/layout/sb_expand.png"]{
	background: url('assets/images/sb_expand.png') no-repeat bottom left !important; 
}

img[src*="/mirror/layout/sb_collapse.png"]{
	background: url('assets/images/sb_collapse.png') no-repeat bottom left !important; 
}

div[style*="padding:4px;margin-top:2px;margin-bottom:4px;border:2px solid black;background:#fff"]{
	padding: 4px !important;
	margin-top: 2px !important;
	margin-bottom: 4px !important;
	font-weight: bold !important;
	background: transparent !important;
	color: #FF3333 !important;
	border: 0px !important;
}
			
#quick-quote-anchor{
    position: absolute;
    display: none;   
    
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    
    color: #F4F4F4;
    border: 1px solid #4C4C4C;
    border-radius: 3px;
    padding: 4px;
    
    background: rgb(54,54,54);
    background: -moz-linear-gradient(top, rgba(54,54,54,1) 0%, rgba(37,37,37,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,54,54,1)), color-stop(100%,rgba(37,37,37,1)));
    background: -webkit-linear-gradient(top, rgba(54,54,54,1) 0%,rgba(37,37,37,1) 100%);
    background: -o-linear-gradient(top, rgba(54,54,54,1) 0%,rgba(37,37,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(54,54,54,1) 0%,rgba(37,37,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#252525',GradientType=0 );
    background: linear-gradient(top, rgba(54,54,54,1) 0%,rgba(37,37,37,1) 100%);
}

#quick-quote-anchor:hover{
    cursor: pointer;
    border-color: #646464;
    color: #FFFFFF;
    
    background: rgb(69,69,69);
    background: -moz-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(52,52,52,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,69,69,1)), color-stop(100%,rgba(52,52,52,1)));
    background: -webkit-linear-gradient(top, rgba(69,69,69,1) 0%,rgba(52,52,52,1) 100%);
    background: -o-linear-gradient(top, rgba(69,69,69,1) 0%,rgba(52,52,52,1) 100%);
    background: -ms-linear-gradient(top, rgba(69,69,69,1) 0%,rgba(52,52,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#343434',GradientType=0 );
    background: linear-gradient(top, rgba(69,69,69,1) 0%,rgba(52,52,52,1) 100%);
}

/* OTHER */

.right{float: right !important; }
	
.top_menu {
list-style: none outside none;
margin: 0;
padding: 0;
}

.bigbox {
    background-color: #333333 !important;
}
.forumPost {
	background-color: transparent !important;
}

button, input, textarea, select{
	background-color: #222222 !important;
    border: 1px solid #333333 !important;
    border-radius: 2px 2px 2px 2px !important;
    color: #999999 !important;
    font: 12px Arial !important;
}

button:hover, input[type=submit]:hover, select:hover{
	background-color: #333 !important;
	border: 1px solid #444 !important;
	border-radius: 2px 2px 2px 2px !important;
	color: #FFFFFF !important;
}

option:hover{
	color: #FFFFFF !important;
}

#notification {
    background: rgba(0,0,0,0.8) !important;
    border: 1px solid #111111 !important;
    color: #999999 !important;
    font-family: tahoma !important;
    font-size: 8pt !important;
    height: 20px;
    left: 671px;
    line-height: 20px;
    margin-top: 20px;
    position: relative !important;
    text-align: left;
    top: -22px;
    width: 305px;
    z-index: 50000;
}

#notification a{text-decoration: none !important; border-bottom: 1px dotted #666 !important; color: #999 !important; opacity: 0.8;}
#notification a:visited{text-decoration: none !important; border-bottom: 1px dotted #666 !important; color: #999 !important; opacity: 0.8;}
#notification a:hover{color: #999 !important; text-decoration: none !important; opacity: 1;}

#msgnotification {
    background: rgba(0,0,0,0.8) !important;
    border: 1px solid #111111 !important;
    color: #CCCCCC !important;
    font-family: tahoma !important;
    font-size: 8pt !important;
    height: 20px;
    left: 671px;
    line-height: 20px;
    margin-top: 20px;
    padding-left: 5px;
    position: relative !important;
    text-align: left;
    top: -22px;
    width: 305px !important;
    z-index: 5 !important;
}

#msgnotification a {
    border-bottom: 1px dotted #666666 !important;
    color: #999999 !important;
    letter-spacing: 0.8px !important;
    opacity: 0.8;
    text-decoration: none !important;
}
#msgnotification a:visited{text-decoration: none !important; border-bottom: 1px dotted #666 !important; color: #999 !important; opacity: 0.8;}
#msgnotification a:hover{color: #999 !important; text-decoration: none !important; opacity: 1;}


#sidebar_options{
	background: #111 !important;
	color: #999 !important;
}

#news_sponsored ul li h4.thread_title a, #news_sponsored ul li h4.thread_title a:visited, #news_sponsored ul li h4.thread_title a:hover {
    color: #999999 !important;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none !important;
}

#news_poll{ border-color: #000 !important; }
#news_poll table{ background: #222 !important; } 
#news_poll span{ font: 12px Tahoma !important; }

#news_community ul li h4.thread_title a, #news_community ul li h4.thread_title a:visited, #news_community ul li h4.thread_title a:hover {
    color: #FFF !important;
    display: inline !important;
    font-size: 9pt !important;
    font-weight: bold !important;
    padding-left: 5px !important;
    text-decoration: none !important;
}

#news_spotlight {
    background: none repeat scroll 0 0 #222 !important;
	border: 1px solid #000;
}

#news_community_top, #news_community_bottom {
    border: 1px solid #000 !important;
    margin-bottom: 0px !important;
}

#news_store{
	border-color: #000;
}

#news_articles{
	border-color: #000;
}



#news_store_poll {
  border: 1px solid #000 !important;
  float: left;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top: 6px;
  position: relative;
  width: 177px;
  background-color: #222222 !important;
}

	#news_store_poll table{
		background-image: none !important;	
	}
	
	
	#news_store_poll td[bgcolor*="#00005D"]{
		background-color: teal;
	}

#news_spotlight h4.thread_title a, #news_spotlight h4.thread_title a:visited, #news_spotlight h4.thread_title a:hover {
    color: lightgrey !important;
}
#news_spotlight p.category, #news_spotlight p.thread_author, #news_spotlight p.forum {
    color: lightblue !important;
}

#news_spotlight p.description {
    color: #999999 !important;
}

#news_community {
    background-color: #222222 !important;
	border-color: #000 !important;
	overflow: hidden;
}

#news_community ul li div.date{
	color: lightblue !important;
}

#news_main div.newsitem img{
	border-color: #000 !important;
}

div.result_text a{
	display: inline-block !important;
    padding-left: 5px !important;
    text-decoration: none !important;
}

#news_articles ul li span.date,
#news_sponsored ul li span.date {
    color: lightblue !important;
    font-size: 9pt !important;
    font-weight: bold !important;
}

#news_articles ul li h4.thread_title a, #news_sponsored ul li h4.thread_title a:visited, #news_sponsored ul li h4.thread_title a:hover{
	color: #FFF !important;
	
}

#news_articles ul li{
	border-bottom: 1px solid #444444 !important;
}

#news_feed a.newsitem .author, #news_feed a.newsitem:visited .author, #news_feed a.newsitem:hover .author {
    color: #999999 !important;
}

#news_feed a.newsitem .category, #news_feed a.newsitem:visited .category, #news_feed a.newsitem:hover .category {
    font-weight: bold !important;
}

#news_feed a.newsitem span.nf_wrap {
    border: 1px solid #333333 !important; 
}

td{ border-color: #000 !important; }
 
 .sf-menu li {
    background: url("assets/images/NavbarNormal.png") repeat-x scroll 0 0 transparent !important;
    height: 32px !important;
}

#vod_video .md, #vod_featured .md, #vod_latest .md {
	width: 430px !important;
}

#vod_search .tp, #vod_torrents .tp {
height: 0px !important;
}

#vod_video{
background-color: #222 !important;
border: 1px solid #000 !important;
border-radius: 9px !important;
}


#vodpage #vod_sidebar {
background-color: #222 !important;
border: 1px solid #000 !important;
border-radius: 9px !important;
}

#vod_search li.alt {
	background: rgba(0, 0, 0, 0.2) !important;
}

.devider{
	background-image: none !important;
}


#vod_search .betavodbox .added {
    color: lightblue !important;
}

#vod_search .streambox .content {
    background-color: #222222 !important;
	
}

.streambox .online, .streambox .online a {
    color: lightgreen !important;
}

.adb {
    color: #FFFFFF !important;
}
	
#vod_search .streambox .title {
    background-color: #333333 !important;
}

.streambox .online, .streambox .online a {
    color: lightgreen !important;
}

#vod_video .tp, #vod_featured .tp, #vod_latest .tp {
	background-color: #222 !important;
	background-image: none !important;
}
#vod_video .md, #vod_featured .md, #vod_latest .md {
	background-image: none !important;
	background-color: #222 !important;
}

#vod_video .bt, #vod_featured .bt, #vod_latest .bt {
	background-image: none !important;
	background-color: #222 !important;
}

#vod_search .md, #vod_torrents .md {
	background-image: none !important;
	background-color: #222 !important;
}

#vod_search .tp, #vod_torrents .tp {
	background-image: none !important;
	background-color: #222 !important;
}

#vod_search .bt, #vod_torrents .bt {
	background-image: none !important;
	background-color: #222 !important;
}

#vod_search .md, #vod_torrents .md {
	background-image: none !important;
	background-color: #222 !important;
	
}

.qq-upload-button{
    background-color: lightgray !important;
    border: 1px solid #555555 !important;
    border-radius: 6px 6px 6px 6px !important;
    direction: ltr !important;
    margin: 4px !important;
    overflow: hidden !important;
    padding: 5px !important;
    position: relative !important;
    text-align: center !important;
    width: 100px !important;
	color: #444 !important;
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    background-image: url("assets/images/NavbarNormal.png");
    background-repeat: repeat-x !important;
    color: #FFFFFF !important;
    outline: 0 none !important;
    z-index: 50 !important;
}

/** SPOILERS **/
a[style*="text-decoration:none;font-family:monospace;color:#808080"]{
	text-decoration: none;
	font-family: monospace;
	color: #808080;
	font-weight: bold;
}
div[id^="spoiler_"]{
	background-color: #111111 !important; 
	border: 1px solid #333333 !important; 
}

.tournaments tr.odd td {
    background-color: #444444 !important;
}
.tournaments tr.even td {
    background-color: #333333 !important;
}

.tournaments .info {
    color: lightblue !important;
    font-size: 11px !important;
}

.tournaments th {
    background-color: #666666 !important;
    color: #FFFFFF !important;
}

.tournaments th a {
    background-color: transparent !important;
}

.widetopbar{
	background: -moz-linear-gradient(top, rgba(159,159,159,1) 5%, rgba(186,186,186,1) 53%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(159,159,159,1)), color-stop(53%,rgba(186,186,186,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(159,159,159,1) 5%,rgba(186,186,186,1) 53%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(159,159,159,1) 5%,rgba(186,186,186,1) 53%) !important; /* Opera 11.10+ */
}

.topbar{
	background: -moz-linear-gradient(top, rgba(159,159,159,1) 5%, rgba(186,186,186,1) 53%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(159,159,159,1)), color-stop(53%,rgba(186,186,186,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(159,159,159,1) 5%,rgba(186,186,186,1) 53%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(159,159,159,1) 5%,rgba(186,186,186,1) 53%) !important; /* Opera 11.10+ */
}

#news_spotlight h3, #fp_wrap h3.normal a, #fp_wrap h3.normal a:visited, #fp_wrap h3.normal a:hover {
	background: none repeat scroll 0 0 #111111 !important;
}
#news_sponsored {
    background: none repeat scroll 0 0 #222222 !important;
	border-color: #000 !important;
}

div.result:nth-child(2n){
	background-color: #333 !important;
}

div.result:nth-child(2n+1){
	background-color: #222 !important;
}

div.result_category{
	color: orange !important;
}

div.result_date{
	color: #FFF !important;
}

#news_results{
	border-color: #000 !important;
}

#news_main div.newsitem .author {
    color: lightblue !important;
}

#news_main div.newsitem .category {
    color: #888888 !important;
}

#news_community ul li {
     border-bottom: 2px solid #444444 !important;
}

#news_sponsored ul li {
    border-bottom: 1px solid #444444 !important;
}
	
#news_spotlight ul li { 
    border-bottom: 1px solid #444444 !important; 
}

#news_feed a.newsitem .preview, #news_feed a.newsitem:visited .preview, #news_feed a.newsitem:hover .preview {
    color: #FFFFFF !important;
}
#news_feed a.newsitem strong, #news_feed a.newsitem:visited strong, #news_feed a.newsitem:hover strong {
    color: lightblue !important;
}

td.extramenu {
    height: 25px !important;
    line-height: 25px;
    margin: 0;
    padding: 0;
    text-align: center !important;
    vertical-align: middle;
}


tr.odd {
    background-color: #222222 !important;
}


table{border-color: #000 !important;}

.srch_hd {
    background-color: #444444 !important;
}

TD.btn_down {
    background-color: #222222 !important;
}

TD.btn_up {
    background-color: #222222 !important;
	color: #888 !important;
}

.roundcont {
    background-color: #111111 !important; }

.Paginator a, .this-page {
background: none repeat scroll 0 0 #222222 !important;
border: 1px solid #333333 !important; }

.Paginator .this-page {
background: none repeat scroll 0 0 #222222 !important;
border: 1px solid #333333 !important; }

.roundbottom, .roundtop{
    background-image: none !important;
		display: none !important;  
}

.roundcont p {
    color: lightblue !important;  
}

td.replaydark {
    background-color: #222222 !important;  
}

td.replaylight {
    background-color: #111111 !important;  
}

.pr_desctd {
    background-color: #111111 !important;  
}

#tabs ul#primary a:hover {
background: none repeat scroll 0 0 #000 !important; }

#tabs ul#primary a {
	background: none repeat scroll 0 0 #111111 !important; }

#tabs ul#primary span, #tabs ul#primary a.current, #tabs ul#primary a.current:hover {
    background: none repeat scroll 0 0 #111111 !important;
   color: lightblue !important;
   }
   

div.schedule {
  background-color: transparent !important;
  border: 1px solid transparent;
  border-top: 1px solid #CCCCCC !important;
  font-size: 12px !important;
  min-height: 450px !important;
  padding: 5px !important;
  margin-bottom: 10px;
}

div.wiki {
  color: teal !important;
  font-size: 20px;
  height: 80px;
}

form#searchbox input{
    background: url("assets/images/Search_Icon.png") no-repeat scroll 2px 50% rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    color: #FFFFFF !important;
    font-family: Arial !important;
    font-size: 11px !important;
    font-weight: bold !important;
	height: 16px;
}
	
td[bgcolor*="#6A7C97"]{
	background-color: #1C2128 !important;
}

td[bgcolor*="#9AACC7"]{
	background-color: #212C3D !important;
}

td[bgcolor*="#9AACC6"]{
	background-color: #212C3D !important;
}

td[style*="#c1d3e0"]{
background-image: none !important;
border: 1px solid #7777FF !important;
}



font[style*="color:#800000"], a[style*="color: #6C0000;"]{
	color: #FF3333 !important;
}
	
 #tl_navigation .spacer, #tl_navigation .spacer li:hover, #tl_navigation .spacer li.sfHover {
    background-image: url("assets/images/NavbarDivider.png") !important;
    height: 32px !important;
    width: 2px !important;
	color: #FFF !important;
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:visited {
    color: #FFFFFF !important;
}

 td.donkerb {
    background-color: #111111 !important;
}

.res2 {
    background-color: #222222 !important;
    font: 8pt Arial;
}

.srch_res2 {
    background-color: #222222 !important;
}

TR.pm_row_even {
    background-color: #222222 !important;
}

TR.pm_row_even {
    background-color: #222222 !important;
}

#forumindex, .forumindex {
    color: lightblue !important;
    font-family: arial !important;
    font-size: 10pt !important;
}

table.sidemenu { /* http://localhostr.com/files/6aHjjCW/content-dark.png #262A2B*/
    background: url("assets/images/content-darker.jpg") repeat-x scroll #191B1C 0 0  !important;
    border-collapse: collapse !important;
    margin-left: 0 !important;
    padding: 0 !important;
    width: 180px !important;
}

A.nounderline:link ,  A.nounderline:visited{
    color: #D2D7D9 !important;
    font-family: arial !important;
    font-size: 8pt !important;
    text-decoration: none !important;
	border-bottom: 1px dotted #555 !important;
	line-height: 16px !important; 
}

A.nounderline:hover {
	color: #FFF !important;
}


#refreshStreamsLoading{
	float: none !important;
}

#round1{background:  rgba(200,200,255,0.3); }
#round2{background:  rgba(200,200,255,0.35); }
#round3{background:  rgba(200,200,255,0.40); }
#round4{background:  rgba(200,200,255,0.45); }
#round5{background:  rgba(200,200,255,0.50); }
#round6{background:  rgba(200,200,255,0.55); }
#round7{background:  rgba(200,200,255,0.60); }
#round8{background:  rgba(200,200,255,0.65); }
#round9{background:  rgba(200,200,255,0.70); }
#round10{background: rgba(200,200,255,0.75); }

	.left_sidebar td.sidemenu a:link, .left_sidebar td.sidemenu a:visited,
	td.sidemenu a:link, td.sidemenu a:visited, td.sidemenu a:hover
	{ 
		color: #D2D7D9;
		font-family: arial !important;
		text-decoration: none !important;
		border-bottom: 1px dotted #666;
		line-height: 16px !important; 	
	}

	.left_sidebar td.sidemenu a:hover {
		color: #FFF;
	}

	a.sb_title:link, a.sb_title:visited{ 
		border-bottom: 0px !important;
		color: #FFF !important;
	}

td.sidemenu span{
	color: lightgreen !important;
    font-weight: bold !important;
}

.sidebar_subheading td.sidemenu a{ 
	color: #FFFFFF !important;
	font: bold 12px Arial !important;
}

A.rightmenu:link, A.rightmenu:visited {
    color: #D2D7D9 !important;
    font-family: arial !important;
    font-size: 8pt !important;
    text-decoration: none !important;
}


.spr {
    background-color: transparent !important;
    background-image: url("assets/images/menu.jpg") !important;
    background-repeat: no-repeat !important;
    height: 25px !important;
    width: 180px !important;
}

td.grijs {
    background: url("assets/images/content-darker.jpg") repeat-x scroll 0 0 #191B1C !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
}


.top_menu a {
    color: #FFF !important;
    font-size: 11px !important;
    font-weight: bold !important;
    text-decoration: none !important;
}


.quote hr {
    background-color: lightblue !important;
    border: 0 none !important;
    color: #000261 !important;
    height: 1px !important;
}

.quote hr{
display: none !important;
}

.quote{
	margin-top: 5px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.quote, .quote .quote, .quote .quote .quote{
	border-radius: 7px !important;
	background: rgba(77,77,77,0.1) url(assets/images/quote.png) 5px 10px no-repeat !important;
	border: 1px solid rgba(77,77,77,0.3) !important;
	
}


.topmenubar {
    background: url("assets/images/NavbarNormal.png") repeat scroll 0 0 transparent !important;
    border-bottom: 1px solid #333333 !important;
    border-left: 1px solid #333333 !important;
    border-radius: 3px !important;
    border-right: 1px solid #333333 !important;
    height: 20px !important;
    line-height: 15px !important;
    padding-left: 16px !important;
    padding-top: 3px !important;
    position: relative;
}



.featurebox {
    background: none no-repeat scroll 0 200px #111111 !important;
    border-radius: 10px 10px 10px 10px !important;
    font-family: Georgia,serif !important;
    margin: auto !important;
    padding: 20px !important;
    text-align: justify !important;
    width: 540px !important;
}

#intro {
    background-color: rgba(25, 25, 25, 0.8) !important;
    border-radius: 10px 10px 10px 10px;
    font-family: Verdana,Geneva,sans-serif;
    padding: 15px;
    text-align: justify;
}

.smallbox {
    background-color: rgba(55, 55, 55, 0.7) !important;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    float: right;
    font-family: Verdana,Geneva,sans-serif;
    line-height: 120%;
    margin: 10px;
    padding: 25px 10px;
    text-align: left;
    width: 180px;
}

.post_content{

}

td.sidemenu {
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    text-align: left !important;
    vertical-align: middle !important;
    width: 170px !important;
}

.sidemenu td{
	color: #FFF !important;
    font-family: arial !important;
}

#fp_wrap #fp_content {
    background: none repeat scroll 0 0 transparent !important;
    position: relative !important;
}

#news_feed a.newsitem, #news_feed a.newsitem:visited, #news_feed a.newsitem:hover {
    background: none repeat scroll 0 0 #222 !important;
    border: 1px solid #111 !important;
    display: block !important;
    margin-bottom: 5px !important;
    text-decoration: none !important;
}

h1.title {
    color: #333 !important;
    height: 20px !important;
}

td.titelhigh {
    background: url("assets/images/wrapper.png") repeat scroll 0 0 transparent !important;
}

.sf-menu a, .sf-menu a:visited {
    color: #FFF !important;
	text-decoration: none !important;
}


 

.sidebar a img{ margin-left: -10px !important !important; }

.thread .thread_title a:link{color: #000 !important;}
.thread .description{color: #000 !important;}

div.calendar {
    background: none repeat scroll 0 0 #333333 !important;
}

#calendar {
    background-color: #333 !important;
    border-left: 0px solid #A2ADBC !important;
	}

th.calendar {
    background: none repeat scroll 0 0 #333 !important;
	border-bottom: 1px solid #444 !important;
    border-right: 1px solid #444 !important;
    border-top: 1px solid #444 !important;
	color: #D9E8F2 !important;
}

td.calendar_today {
    background: url("assets/images/wrapper-dark.png") repeat scroll 0 0 transparent !important;
}

.sms{
background-image: url("assets/images/SocialSprite.png") !important;
margin-top: 5px !important;
}

#TLFacebook {
    background-position: 0 1px !important;
}

#TLTwitter {
    background-position: 0 -31px !important;
}

#TLYouTube {
    background-position: 0 -62px !important;
}

td.calendar {
    border-bottom: 1px solid #444 !important;
    border-right: 1px solid #444 !important;
}

td.calendar a.event, td.calendar_today a.event {
    color: lightblue !important;
}

#addErrorReport{
	cursor: pointer;
}

/**

COPY PASTE OF REAL STYLESHEET BEGINS HERE..

**/


.forumPost{
	color: #999 !important;
	font:10pt Arial;
	width:100%;
}

.forumPost a{
	color: #D2D7D9 !important;
}

.forumPostHighlight{
	color: #FFF;
	font:10pt Arial;
	width:100%;
}

.forumPostOld{
	background:url(assets/images/forum/oldpost.gif) no-repeat bottom right;
}

.greyBox{
    background-color: #222222 !important;
    border: 1px solid darkred !important;
	margin-bottom:8px;
	padding:4px;
}

table.sidemenu
{
	background-color:#d9dde0;
	border-collapse:collapse;
	margin-left:0;
	padding:0;
	width:180px;
}

td.sidemenu
{
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	padding:0 0 0 10px;
	text-align:left;
	vertical-align:middle;
	width:170px;
}

td.c
{
	text-align:center;
	vertical-align:middle;
}

p
{
	color:#FFF;
	font:10pt arial;
}

b.quote
{
	font:8pt arial;
	font-weight:bolder;
}

span.error
{
	color:red;
	font:10pt arial;
}

th
{
	border-bottom:1px solid #b3bfd1;
	font-family:arial;
	font-size:9pt;
	font-weight:700;
	text-align:left;
}

td.hoofdmenu
{
	padding-bottom:4pt;
	vertical-align:bottom;
	width:914px;
}

h3
{
	font-family:arial;
	font-size:10pt;
	font-style:normal;
	font-weight:lighter;
}

h4
{
	font-family:arial;
	font-size:10pt;
}

h5
{
	font-family:arial;
	font-size:11pt;
}

td.grijs
{
	background-color:#d9dde0;
}



td.donkerb
{
	background-color:#b3bfd1;
}



.extramenu h1
{
	font-family:Verdana;
	font-size:11pt;
	font-weight:700;
	margin:0;
	padding:0;
}

td.titelbalk{
	background: transparent !important;
	line-height: 20px !important;
	height:20px;
	vertical-align: middle;
}

.post_header{
	background: url("assets/images/post_headerbg.jpg") repeat-x;
	height: 33px;
	line-height: 33px;
}

td.titelhigh
{
	background-color:#3F5E8D;
	color:#fff;
	height:20px;
}

td.replaylight
{
	background-color:#c7d0dc;
	font-family:arial;
	font-size:8pt;
	height:25px;
}

td
{
	color:#FFF;
	font-family:arial;
	font-size:10pt;
}

td.replaydark
{
	background-color:#b3bfd1;
	font-family:arial;
	font-size:8pt;
	height:25px;
}

td.caldate
{
	font-weight:700;
	padding-right:4px;
	width:37px;
}

#upcoming td
{
	font-size:8pt;
}

hr.lichtb
{
	background-color:#c7d0dc;
	height:1px;
}

hr.donkerb
{
	background-color:#b3bfd1;
	height:1px;
}

table
{
	margin-left:0;
	margin-top:0;
	padding:0;
}

table.centered
{
	margin-left:auto;
	margin-right:auto;
}

body
{
	background-color:#fdfdfd;
	color:#FFF;
	font-family:arial,helvetica;
	font-size:10pt;
	margin:0;
}

img
{
	border-width:0;
}

img.css-image
{
	color:#d00;
	font-size:8pt;
}

img.sbimg
{
	height:25px;
	width:180px;
}

#bold
{
	font:12pt arial;
	font-weight:700;
}

#small
{
	color:silver;
	font:6pt arial,courier;
}

#solid, .solid{
	border:1px solid #b3bfd1;
	background: #101010;
}

#solid2
{
	border:1px solid #FFF;
}

#forum
{
	color:#b3bfd1;
	font-family:arial;
	font-size:10pt;
}

#forumindex,.forumindex
{
	color:#0d124b;
	font-family:arial;
	font-size:10pt;
}

#forummsginfo,.forummsginfo
{
	color: #999 !important;
	font-family:arial;
	font-size:9pt;
}

#forummsginfoa,.forummsginfoa
{
	color:#fff;
	font-family:arial;
	font-size:9pt;
}

b.forummsginfo
{
	color:#6c0000;
	font-family:arial;
	font-size:9pt;
	font-weight:700;
}

#forummsg,.forummsg
{
	color: #888 !important;
	font-family:arial;
	font-size:10pt;
}

.titelhigh a,.titelhigh a:link,.titelhigh a:hover,.titelhigh a:visited
{
	color:#fff !important;
}

td.titelhigh  a{
    color: rgba(255,255,255,0.8);
    font-family: arial,helvetica;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.8;
    text-decoration: none !important;
} td.titelhigh a:hover{ color: rgba(255,255,255,1); }

#shortmenu,.shortmenu
{
	color:#FFF;
	font-family:arial;
	font-size:10pt;
	font-weight:lighter;
}

#createtopic
{
	left:350px;
	position:absolute;
	top:206px;
	z-index:2;
}

#positie
{
	left:50%;
	position:relative;
	z-index:2;
}

div.positietitel
{
	color:#1b215f;
	font-family:arial;
	font-size:11pt;
	height:100px;
	left:6ex;
	margin-left:-250px;
	margin-top:-50px;
	position:relative;
	top:9ex;
	width:500px;
}

#shortmenu{
	color:#1b215f;
	font-family:arial;
	font-size:9pt;
}

#staticMessage{
	display: block !important; 
	text-align: center !important; 
	font: 600 11px Arial, Helvetica !important; 
	height: 14px !important; 
	text-decoration: none !important; 
	color: #CCC !important;
	margin: 5px 0px !important; 
}

.forumsig {
    background-color: transparent !important;
	border: 0px solid transparent !important; 
    border-radius: 0px !important;
    color: rgba(51,204,255,0.7) !important;
	
    font-family: arial;


    font-size: 11px;
    padding: 3px 8px;
}

.forumsig:nth-child(0){	border-width: 1px 0px 1px 1px !important; }
.forumsig:nth-child(1){	border-width: 1px 1px 1px 0px !important; }

.forumsig a{ 
	color: #444;
    color: lightblue !important;
	
    font-family: arial;
    font-style: italic;

    font-size: 11px;
}

.quote
{
	font:8pt arial;
	margin-right:8px;
	padding-left:40px;
}

.quote hr
{
	background-color:#000261;
	border:0;
	color:#000261;
	height:1px;
}

SPAN.overlib
{
	color:#fff;
	font-size:9pt;
}

.loggedin
{
	color:#fff;
	display:block;
	font-size:9pt;
	margin-left:16px;
	margin-top:12px;
}

.loggedin a:link,.loggedin a:hover,.loggedin a:visited
{
	color:#fff;
}

.loggedin .newpm
{
	color:#FF0;
	font-weight:700;
}

.loggedin .newpm a:link,.loggedin .newpm a:hover,.loggedin .newpm a:visited
{
	color:#FF0;
}

a.openlb:link,.aopenlb:hover,a.openlb:visited
{
	color:#FF0;
	font-weight:700;
}

.topright
{
	color:#FFF;
	display:block;
	font-size:9pt;
	margin-right:12px;
	margin-top:12px;
	text-align:right;
}

div.centered
{
	height:55px;
	left:56ex;
	margin-left:-250px;
	margin-top:-95px;
	position:relative;
	top:9ex;
	width:500px;
}

#rightmenu
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:none;
}

.rightmenu
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:none;
}

#newstitle,.newstitle
{
	color:#0d124b;
	font-family:arial;
	font-size:11pt;
	font-weight:700;
}

#newsinfo,.newsinfo
{
	color:#1b215f;
	font-family:arial;
	font-size:9pt;
	font-weight:700;
}

#newspost,.newspost
{
	color:#0d124b;
	font-family:arial;
	font-size:10pt;
}


A.links:link
{
	font-family:arial;
	font-size:10pt;
	text-decoration:underline;
}

A.links:visited
{
	font-family:arial;
	font-size:10pt;
	text-decoration:underline;
}

A.links:hover
{
	color:#FFF;
	font-family:arial;
	font-size:10pt;
	text-decoration:none;
}

A.nounderline:link
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:none;
}

A.nounderline:visited
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:none;
}

A.nounderline:hover
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:underline;
}

A.createicon:link
{
	font-family:arial;
	font-size:8pt;
	margin-left:60px;
	text-decoration:none;
}

A.createicon:visited
{
	font-family:arial;
	font-size:8pt;
	margin-left:60px;
	text-decoration:none;
}

A.createicon:hover
{
	color:red;
	font-family:arial;
	font-size:8pt;
	margin-left:60px;
	text-decoration:none;
}

A.pagetitle:link
{
	color:#13175e;
	font-family:Verdana,arial;
	font-size:10pt;
	font-weight:700;
	text-decoration:none;
}

A.pagetitle:visited
{
	color:#13175e;
	font-family:Verdana,arial;
	font-size:10pt;
	font-weight:700;
	text-decoration:none;
}

A.pagetitle:hover
{
	color:#13175e;
	font-family:Verdana,arial;
	font-size:10pt;
	font-weight:700;
	text-decoration:underline;
}

A.rightmenu
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:none;
}

A.rightmenu:link
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:none;
}

A.rightmenu:visited
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:none;
}

A.rightmenu:hover
{
	color:#FFF;
	font-family:arial;
	font-size:8pt;
	text-decoration:underline;
}

A.clean,A.clean:visited
{
	text-decoration:none;
}

A.clean:hover
{
	text-decoration:underline;
}

#calendar
{
	background-color:#fff;
	border-left:1px solid #a2adbc;
	color:#616b76;
	font:normal 12px/18px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	margin:0;
	padding:0;
	text-align:center;
	width:141px;
}

div.calendar * a.arrows
{
	color:#fff;
	font:bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	text-align:center;
	text-decoration:none;
}

div.calendar * a.month
{
	color:#fff;
	font:bold 11px Arial,"Trebuchet MS",Verdana,Helvetica,sans-serif;
	text-decoration:none;
}

div.calendar
{
	background:#a2adbc;
	color:#fff;
	font:bold 12px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	margin:0;
	padding:0;
	text-align:center;
	width:141px;
}

th.calendar
{
	background:#d9e2e1;
	border-bottom:1px solid #a2adbc;
	border-right:1px solid #a2adbc;
	border-top:1px solid #a2adbc;
	color:#D9E8F2;
	font:bold 11px/20px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	text-align:center;
}

td.calendar
{
	background-color: #333 !important;
	background-image: none !important;
	
	border-bottom:1px solid #a2adbc;
	border-right:1px solid #a2adbc;
	font-size:10px;
	height:12px;
	text-align:center;
	width:20px;
}

td.calendar_today
{
	background:#a4b5cc;
	font-size:11px;
}

td.calendar_today a.event
{
	color:#c00;
	display:block;
	font-size:11px;
	font-weight:700;
	text-decoration:none;
}

td.calendar a.event,td.calendar_today a.event
{
	color:#c00;
	display:block;
	font-size:11px;
	font-weight:700;
	text-decoration:none;
}

td.calendar a.default,td.calendar_today a.default
{
	color:#00a;
}

td.calendar a.ogn,td.calendar_today a.ogn
{
	color:#c00;
}

td.calendar a.mbc,td.calendar_today a.mbc
{
	color:#080;
}

td.calendar a.proleague,td.calendar_today a.proleague
{
	color:#ffb90f;
}

td.calendar a.past_event,td.calendar_today a.past_event
{
	color:#666;
	display:block;
	font-size:11px;
	font-weight:700;
	text-decoration:none;
}

#tabs
{
	height:3em;
	margin:0 0 0 18px;
	padding:0;
	position:relative;
	width:550px;
}

#tabs ul#primary
{
	bottom:-1px;
	margin:0;
	padding:0;
	position:absolute;
	width:45em;
}

#tabs ul#primary li
{
	display:inline;
	list-style:none;
}

#tabs ul#primary a,#tabs ul#primary span,#tabs ul#primary a.current
{
	color:#333;
	display:block;
	float:left;
	font-family:tahoma,verdana,sans-serif;
	font-size:85%;
	margin:1px 5px 0 0;
	padding:4px 0;
	text-align:center;
	text-decoration:none;
	width:8em;
}

#tabs ul#primary span,#tabs ul#primary a.current,#tabs ul#primary a.current:hover
{
	background:#b3bfd1;
	border-bottom:none;
	margin-top:0;
	padding-bottom:6px;
}

#tabs ul#primary a
{
	background:#eee;
	border-bottom:none;
}

#tabs ul#primary a:hover
{
	background:#b3bfd1;
	border-color:#000;
	margin-top:0;
	padding-bottom:5px;
}

.roundcont
{
	background-color:#b3bfd1;
	color:#000;
	margin-left:5px;
	width:595px;
}

.roundcont p
{
	color:#232f41;
	margin:0 10px;
}

.roundcont * a,.roundcont * a:visited
{
	color:#232f41;
}

.roundtop
{
	background:url(/tlpdassets/images/tr.gif) no-repeat top right;
}

.roundbottom
{
	background:url(/tlpdassets/images/br.gif) no-repeat top right;
}

img.corner
{
	border:none;
	display:block!important;
	height:15px;
	width:15px;
}

#tabulator_div
{
	margin-left:10px;
	margin-right:10px;
}

.tblt_div
{
	margin-left:10px;
	margin-right:10px;
}

.srch_hd
{
	background-color:#6a7c97;
	border-bottom:1px solid #FFF;
	color:#fff;
	font:bold 10pt Arial;
}

.srch_res1
{
	font:8pt Arial;
}

.srch_res2
{
	background-color:#c9cdd0;
	font:8pt Arial;
}

.srch_frmname
{
	background-color:#ebeff2;
	font:bold 10pt Arial;
	padding-left:10px;
}

A.sl{
	color: #D2D7D9 !important;
	font:9pt Arial !important;
	text-decoration: none !important;
	opacity: 0.7 !important;
}

A.sl:hover{
	color: #D2D7D9 !important;
	font:9pt Arial !important;
	text-decoration: none !important;
	opacity: 1.0 !important;
}

A.sls{
	color: #ccc !important;
	font:8pt Arial !important;
	text-decoration: none !important;
	opacity: 0.7 !important;
}

A.sls:hover{
	color: #ccc !important;
	font:8pt Arial !important;
	text-decoration: none !important;
	opacity: 1.0 !important;
}

.greenbox{background-color: transparent !important; color: lightblue !important; }

/*
.greenbox
{
	background-color:#9d9;
	border:1px solid #000;
	font-size:12px;
	font-weight:700;
	padding:2px;
	text-align:center;
}
*/
#loginform span
{
	font-size:11px;
	text-align:left;
}

#loginform{
	background: url('assets/images/formbg.png') top left repeat-x;
	height:25px;
	left:0;
	margin:0;
	padding:0;
	position:relative;
	top:0;
	width:367px;
}

#username_container
{
	left:0;
	position:absolute;
	top:0;
}

#username_container label
{
	color:#bdcfe7;
	font-size:11px;
	left:5px;
	position:absolute;
	top:5px;
}

#username_container input
{
	left:60px;
	position:absolute;
	top:2px;
}

#password_container
{
	left:180px;
	position:absolute;
	top:0;
}

#password_container label
{
	color:#bdcfe7;
	font-size:11px;
	left:5px;
	position:absolute;
	top:5px;
}

#password_container input
{
	left:60px;
	position:absolute;
	top:2px;
}

#loginform input.text
{
	background:#fff;
	border:solid 1px #bdcfe7;
	font-size:12px;
	height:18px;
	line-height:18px;
	padding:0;
	width:112px;
}

.spr2
{
	background-color:transparent;
	background-image:url(http://www.teamliquid.net/mirror/layout/SpecialSprite.png);
	background-repeat:no-repeat;
}

#nav_tlfe_black
{
	background-position:-180px 0;
	height:30px;
	width:180px;
}

#nav_tslforum
{
	background-position:0 0;
	height:28px;
	width:180px;
}

.spr
{
	background-color:transparent;
	background-image:url(http://www.teamliquid.net/mirror/layout/SidebarSprite.png);
	background-repeat:no-repeat;
	height:25px;
	width:180px;
}

#nav_calendar
{
	background-position:0 0;
}

#nav_blogs
{
	background-position:-180px 0;
}

#nav_general
{
	background-position:-360px 0;
}

#nav_poll
{
	background-position:-540px 0;
}

#nav_news_left_mid
{
	background-position:-720px 0;
}

#nav_broodwar
{
	background-position:-900px 0;
}

#nav_powerrank
{
	background-position:-1080px 0;
}

#nav_replays
{
	background-position:-1260px 0;
}

#nav_starcraft2
{
	background-position:-1440px 0;
}

.sms
{
	background-color:transparent;
	background-image:url(http://www.teamliquid.net/mirror/layout/SocialSprite.png);
	background-repeat:no-repeat;
	display:inline-block;
	height:32px;
	margin-left:5px;
	margin-right:5px;
	width:32px;
}

#TLFacebook
{
	background-position:0 0;
}

#TLTwitter
{
	background-position:0 -40px;
}

#TLYouTube
{
	background-position:0 -80px;
}

h1.title
{
	color:#fff;
	padding-bottom:2px;
}

html
{
	overflow-y:scroll;
}

#sidebar56 td
{
	padding-left:16px;
}

.subheading56 td
{
	padding-left:16px;
}

#sidebar29 td
{
	padding-left:16px;
}

.subheading29 td
{
	padding-left:16px;
}

.sf-menu,.sf-menu *
{
	list-style:none;
	margin:0;
	padding:0;
	z-index:10;
}

.sf-menu
{
	float:left;
	line-height:1.0;
}

.sf-menu ul
{
	left:0;
	position:absolute;
	top:-999em;
	width:8em;
}

.sf-menu ul li
{
	width:100%;
}

.sf-menu li:hover
{
	visibility:inherit;
}

.sf-menu li
{
	background:url(http://www.teamliquid.net/mirror/layout/NavbarNormal.png) repeat-x;
	float:left;
	height:32px;
	position:relative;
}

.sf-menu a
{
	display:block;
	font-family:Arial;
	font-size:8pt;
	font-weight:700;
	height:20px;
	padding-left:12px;
	padding-right:12px;
	padding-top:10px;
	position:relative;
	text-decoration:none;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul
{
	left:0;
	top:32px;
	z-index:99;
}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul
{
	top:-999em;
}

ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul
{
	left:10em;
	top:0;
}

ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul
{
	top:-999em;
}

ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul
{
	left:10em;
	top:0;
}

.sf-menu .offset,.sf-menu .offset:hover
{
	background: transparent !important;
	color:#fff;
	outline:0;
}

.sf-menu a,.sf-menu a:visited
{
	color:#d9e8f2;
}

.sf-menu li li
{
	background:#082757;
	height:32px;
	z-index:50;
}

.sf-menu li li li
{
	background-image:url(http://www.teamliquid.net/mirror/layout/NavbarNormal.png);
	background-repeat:repeat-x;
}

.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active
{
	background-image:url(http://www.teamliquid.net/mirror/layout/NavbarNormal.png);
	background-repeat:repeat-x;
	color:#fff;
	outline:0;
	z-index:50;
}

#tl_navigation .spacer,#tl_navigation .spacer li:hover,#tl_navigation .spacer li.sfHover
{
	background-image:url(http://www.teamliquid.net/mirror/layout/NavbarDivider.png);
	height:32px;
	width:2px;
}

.sf-menu a.sf-with-ul
{
	min-width:1px;
	padding-right:2.25em;
}

.sf-sub-indicator
{
	background:url(http://www.teamliquid.net/mirror/layout/arrows-ffffff.png) no-repeat -10px -100px;
	display:block;
	height:10px;
	overflow:hidden;
	position:absolute;
	right:.75em;
	text-indent:-999em;
	top:1.05em;
	width:10px;
}

a>.sf-sub-indicator
{
	background-position:0 -100px;
	top:1em;
}

a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator
{
	background-position:-10px -100px;
}

.sf-menu ul .sf-sub-indicator
{
	background-position:-10px 0;
}

.sf-menu ul a>.sf-sub-indicator
{
	background-position:0 0;
}

.sf-menu ul a:focus>.sf-sub-indicator,.sf-menu ul a:hover>.sf-sub-indicator,.sf-menu ul a:active>.sf-sub-indicator,.sf-menu ul li:hover>a>.sf-sub-indicator,.sf-menu ul li.sfHover>a>.sf-sub-indicator
{
	background-position:-10px 0;
}

.sf-shadow ul
{
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-bottom-left-radius: 17px;
	-webkit-border-top-right-radius: 17px;
	background:url(http://www.teamliquid.net/mirror/layout/shadow.png) no-repeat bottom right;
	padding:0 8px 9px 0;
}

.sf-shadow ul.sf-shadow-off
{
	background:transparent;
}

.sf-navbar
{
	height:2.5em;
	position:relative;
}

.sf-navbar li
{
	position:static;
}

.sf-navbar a
{
	border-top:none;
}

.sf-navbar li ul
{
	width:900px;
}

.sf-navbar li li
{
	position:relative;
}

.sf-navbar li li ul
{
	width:13em;
}

.sf-navbar li li li
{
	width:100%;
}

.sf-navbar ul li
{
	float:left;
	width:auto;
}

.sf-navbar a,.sf-navbar a:visited
{
	border:none;
}

ul.sf-navbar .current ul,ul.sf-navbar ul li:hover ul,ul.sf-navbar ul li.sfHover ul
{
	left:0;
	top:2.5em;
}

ul.sf-navbar .current ul ul
{
	top:-999em;
}

.sf-navbar li li.current>a
{
	font-weight:700;
}

.sf-navbar ul .sf-sub-indicator
{
	background-position:-10px -100px;
}

.sf-navbar ul a>.sf-sub-indicator
{
	background-position:0 -100px;
}

.sf-navbar ul a:focus>.sf-sub-indicator,.sf-navbar ul a:hover>.sf-sub-indicator,.sf-navbar ul a:active>.sf-sub-indicator,.sf-navbar ul li:hover>a>.sf-sub-indicator,.sf-navbar ul li.sfHover>a>.sf-sub-indicator
{
	background-position:-10px -100px;
}

.sf-navbar>li>ul
{
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topright:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-right-radius:0;
	background:transparent;
	padding:0;
}

.lpspr
{
	background-color:transparent;
	background-repeat:no-repeat;
	display:inline-block;
	margin:0;
}

.lpcoin-bronze1
{
	background-position:0 0;
	height:19px;
	width:18px;
}

.lpcoin-bronze2
{
	background-position:0 -24px;
	height:19px;
	width:31px;
}

.lpcoin-bronze3
{
	background-position:0 -48px;
	height:19px;
	width:31px;
}

.lpcoin-bronze4
{
	background-position:0 -72px;
	height:21px;
	width:31px;
}

.lpcoin-gold1
{
	background-position:0 -98px;
	height:19px;
	width:18px;
}

.lpcoin-gold2
{
	background-position:0 -122px;
	height:21px;
	width:29px;
}

.lpcoin-gold3
{
	background-position:0 -148px;
	height:21px;
	width:29px;
}

.lpcoin-gold4
{
	background-position:0 -174px;
	height:21px;
	width:29px;
}

.lpcoin-silver1
{
	background-position:0 -200px;
	height:19px;
	width:18px;
}

.lpcoin-silver2
{
	background-position:0 -224px;
	height:19px;
	width:31px;
}

.lpcoin-silver3
{
	background-position:0 -248px;
	height:19px;
	width:31px;
}

.lpcoin-silver4
{
	background-position:0 -272px;
	height:21px;
	width:31px;
}