<strong>Streamer:</strong> <span id="tldt-streamer-overlay-streamer"></span>
<br>
<strong>Viewers:</strong> <span id="tldt-streamer-overlay-viewers" style="color: #FFFF99 !important;" ></span>
<hr>
<a href="#" onclick="return false;" class="addFavorite" title="Add this streamer to favorites!" style="color: #33FF33 !important;">Add to Favorites</a>
<br /> 
<a href="#" onclick="return false;" class="removeFavorite" title="Remove this streamer from favorites!" style="color: #FF3333 !important;">Remove from Favorites</a> 
<br /> 
<a href="#" onclick="return false;" class="openStreamWindow" style="color: #6699FF !important;">Pop-out Stream</a>

         