	#dark_theme_optionpane{
			  background-color: #111;
			  color: #999;
			  border: 1px solid black;
			  padding: 12px;
			  text-align: left;
			  width: 600px;
			  font: 12px Arial;
			}

			#dark_theme_optionpane a:link, #dark_theme_optionpane a:visited{
				color: #FFFF99 !important;
				text-decoration: none;
				opacity: 0.9;
			} 
			#dark_theme_optionpane a:hover{
				opacity: 1;
			}

			#dark_theme_optionpane input, textarea{
				margin-bottom: 4px;
				font: 12px Arial !important;
				padding: 2px !important;
				width: 100%;
			}

			#dark_theme_optionpane input[type="checkbox"]{
				width: auto;
			}

			#dark_theme_optionpane input[type="submit"]{
				clear: both;
				width: auto;
			}

			#dark_theme_optionpane label{
				position: static !important;
				width: auto !important;
			}
			
			#dark_theme_optionpane ul{
				padding: 0px;
				list-style-type: none;
				width: 100%;
			}

				#dark_theme_optionpane ul li{
					padding: 6px 0px 6px 22px;
					border: 1px solid transparent;
					padding-right: 10px;
				}
                
                #dark_theme_optionpane ul li.ideas{
                    background: url('assets/images/idea_icon.png') no-repeat 4px 4px;
                }
				
				#dark_theme_optionpane ul li:nth-child(even){ background-color: rgba(0,0,0,0.1); }
				#dark_theme_optionpane ul li:nth-child(odd){ background-color: rgba(0,0,0,0.5); }
                
				#dark_theme_optionpane ul li:hover{
					background-color: rgba(0,0,0,0.9);
					cursor: pointer;
					border: 1px solid #444;
					border-radius: 4px;
				}
				
				#dark_theme_optionpane ul li .ideaMenu{ clear: both;  }
				#dark_theme_optionpane ul li .ideaMenu a:link{
					font: 9px Tahoma !important;
					color: #555 !important;
				}
				
				#dark_theme_optionpane ul li.toggled{
					background-color: rgba(0,0,0,0.9);
				}
				
			.dark_theme_subtitle{
				color: #6699FF;
				margin-bottom: 8px;
			}

			.dark_theme_title{
				color: #33CCFF;
			}

			hr.dark_theme_separator{
				height: 1px; border: 0px; background: #222;
			}
			.dark_theme_vseparator{ float:left; width: 1px; background: #222; margin-left: -10px; }

			.clear{
				clear: both;
			}

			.extraSettings{
				display: none; 
				background: #000; 
				border: 1px dashed #444; 
				margin: 5px; 
				padding: 5px; 
				line-height: 25px;
			}
			