<img src="chrome-extension://dccfjlgjoelbkhlibmilnnfpkjkiihen/assets/images/new.gif" /> <strong>New in 18.7</strong>:

Lightmode-toggle has returned.
- Stream list now shows number of viewers and plusses and minuses to add/remove from favorite streamers.
- Stream list has direct links to popup-Player for the clicked stream, aswell as # of viewers for each stream.
- You can now set your own settings for the third setting (<span style="text-decoration: underline; font-style: italic;">
Use Dark Theme @ night and Light Mode during daytime.</span>)!"

<img src="chrome-extension://dccfjlgjoelbkhlibmilnnfpkjkiihen/assets/images/new.gif" /> <strong>New in 18.5</strong>:

- Minimized screenshots that you open in threads are no longer opened in a new tab- you now get up a "lightbox" with the picture.
- The setting <span style="text-decoration: underline; font-style: italic;">Use Dark Theme @ night and Light Mode during daytime.</span> is finally functional. If you enable it, the theme will be activated between 9PM - 7AM local time.

If you have any inputs on the latest changes, feel free to post them in <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=239280">the thread</a> or <a href="http://www.teamliquid.net/mytlnet/index.php?view=new&to=Eagl3s1ght">privately by PM</a>!
