
<span class="dark_theme_menu_title">TeamLiquid Dark Theme</span>
    
<span class="dark_theme_menu_separator"> — </span>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="dark_theme_menu_form" target="_blank" >
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="FA9BVCM7QSPX6">
    <input  type="submit" value="Donate to author via Paypal" id="dark_theme_menu_form_btn" title="I've spent a lot of time developing this script. With money to support my work, I can continue spending time on development. Thank you." order="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    
</form>    

<span class="dark_theme_menu_separator"> — </span>
<a class="dark_theme_menu_thread" href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=239280" title="Open the Official Dark Theme Thread showing the First page">Thread</a>
 [ <a class="dark_theme_menu_thread" href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=239280&currentpage=9999" title="Open the Official Dark Theme Thread showing the Last page">Last page</a> ]

<!--
<span class="dark_theme_menu_separator"> — </span>
<a class="dark_theme_menu_lightmode" href="#" onclick="return false" title="Switch to Light Mode">Lightmode</a>
-->

<span class="dark_theme_menu_separator"> — </span>
<a id="dark_theme_menu_readannouncement" class="dark_theme_menu_readannouncement" href="#" onclick="return false" title="Read the latest announcement">
    Latest announcement
</a>

<div id="dark_theme_menu_preload1" style="display: none; position: absolute; left: -9999px;">
    <img src="chrome-extension://dccfjlgjoelbkhlibmilnnfpkjkiihen/assets/images/darktheme_message-bottom.png">
</div>
<div id="dark_theme_menu_preload2" style="display: none; position: absolute; left: -9999px;">
    <img src="chrome-extension://dccfjlgjoelbkhlibmilnnfpkjkiihen/assets/images/darktheme_message-bg.png">
</div>