<span>Hotkeys:</span> 

<ul>
    <li>Bold: ALT + B</li> 
    <li>Italic: ALT + I</li>
    <li>Underline: ALT + U</li>
    <li>Link: ALT + L</li>
    <li>Spoiler: ALT + A</li>
    <li>Image: ALT + P</li>
    <li>Quote: ALT + Q</li>
</ul>